.nav__links__black li {
    padding: 0 20px;
}


.logo__text_black {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #000;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}

.logo__text__bottom {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: white;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}

.nav__links__black {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-family: Montserrat, Arial, sans-serif;
    list-style: none;
}

.nav__links__black a:hover {
    text-decoration: underline;
}

.nav__links__black a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}


.active-link {
    text-decoration: underline !important;
    color: #006e07 !important;
}

.search_black {
    position: relative;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    transition-duration: 500ms;
    cursor: pointer;
    background-color: transparent;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0;
    border: none;
    overflow: hidden;
    background-image: url(/assets/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 45% 50%;
}

.search_black:focus {
    width: 300px;
    height: 34px;
    cursor: text;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-size: 22px;
}

.search_black:focus .dropdown-content{
    display: block;
}


.nav__links-fff {
    padding: 0 20px;
    display: flex;
    font-family: Montserrat, Arial, sans-serif;
    list-style: none;
}

.nav__links-fff li {
    padding: 0 20px;
}

.nav__links-fff a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav__links-fff a:hover {
    text-decoration: underline;
}

.white-header {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.white-logo {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #fff;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}

.white-search:focus {
    width: 300px;
    height: 34px;
    cursor: text;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    background-image: none;
    background-size: 22px;
}


.white-title-header-up {
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 300;
    font-style: italic;
    line-height: 80px;
    color: #fff;
    font-size: 65px;
}

.white-title-header-down {
    margin-top: 6vh;
    margin-left: 14vw;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    font-size: 16px;
}


#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content:focus {
    display: block !important;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
