.nav__links__black li {
    padding: 0 20px;
}


.logo__text_black {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #000;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}

.sidebar__logo{
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #000;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}

.logo__text__bottom {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: white;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}

.nav__links__black {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-family: Montserrat, Arial, sans-serif;
    list-style: none;
}

.nav__links__black a:hover {
    text-decoration: underline;
}

.nav__links__black a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}


.active-link {
    text-decoration: underline !important;
    color: #006e07 !important;
}

.search_black {
    position: relative;
    margin-right: 2vw;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.5s;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0;
    border: none;
    overflow: hidden;
    background-image: url(/assets/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 45% 50%;
    background-color: inherit;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-family: Montserrat, Arial, sans-serif;
    list-style: none;
}

.nav__links li {
    padding: 0 20px;
}

.nav__links a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav__links a:hover {
    text-decoration: underline;
}


.logo__text {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #fff;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}


.search_black:focus {
    width: 300px;
    margin-right: 2vw;
    height: 34px;
    cursor: text;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-size: 22px;
}

.search_black:focus .dropdown-content{
    display: block;
}


.nav__links-fff {
    padding: 0 20px;
    display: flex;
    font-family: Montserrat, Arial, sans-serif;
    list-style: none;
}

.nav__links-fff li {
    padding: 0 20px;
}

.nav__links-fff a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav__links-fff a:hover {
    text-decoration: underline;
}



.white-search:focus {
    width: 300px;
    height: 34px;
    cursor: text;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    background-image: none;
    background-size: 22px;
}


.white-title-header-up {
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 300;
    font-style: italic;
    line-height: 80px;
    color: #fff;
    font-size: 65px;
}

.white-title-header-down {
    margin-top: 6vh;
    margin-left: 14vw;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    font-size: 16px;
}


#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: absolute;
    right: 0px;
    top: 23px
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 318px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-content:focus {
    display: block;
}

.dropdown .search_bread_card:hover {background-color: #ddd;}

.show {display: block;}

.burger_menu_div{
    display: none;

}

.sidebar{
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed ;
    overflow: auto;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #FFEFBA;
    transform: translateX(+100%);
    transition-duration: 0.4s;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}

.sidebarNg{
    visibility: visible;
    opacity: 1;
    background-color: #F8F9F7;
    transform: translateX(0%);
    z-index: 101;
    color: black;
}

.sidebar_button:focus .sidebar{
    display: block;
    background-color: #F8F9F7;
    transform: translateX(0%);
    z-index: 100;
    color: black;
}
.svg{
    z-index: 100;
}
.sidebar_unordered_list li{
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
}
.sidebar_unordered_list p:hover {
    color: #006e07;
    text-decoration: underline;
    white-space: normal;
}
.sidebar_unordered_list{
    margin-top: 50px;
}

.sidebar__info{
    position: fixed;
    bottom: 75px;
    left: 30px;
}

.burger_menu_black{
    fill: black;
    margin-right: 2vw;
}
.burger_menu{
    fill: white;
    margin-right: 2vw;
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
}
.shadow {
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.4);
}
.overflow{
    overflow: hidden;
}
.hide{
    visibility: hidden;
    opacity: 0;
}

.background_white{
    background-color: white;
}
.background_oceanblue{
    background-color: #EEF4EC;
}
@media screen and (max-width: 960px){
    .dropdown{
        right: 41px;
    }
    .burger_menu_div{
        display: block;
    }
    .sidebarNg{
        transform: translateX(73%);
    }

}


@media screen and (max-width: 700px){
    .sidebarNg{
        transform: translateX(65%);
    }
    .search_black:focus{
        width: 250px;
    }
    .dropdown-content{
        width: 268px;
    }
}

@media screen and (max-width: 400px){
    .search_black:focus{
        width: 220px;
    }
    .dropdown-content{
        width: 250px;
    }
}

@media screen and (max-width: 570px){
    .sidebarNg{
        transform: translateX(60%);
    }
}

@media screen and (max-width: 500px){
    .sidebarNg{
        transform: translateX(50%);
    }
}