
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: absolute;
    left: 3.8vw;
    right: 3.8vw;
}

.logo {
    cursor: pointer;
    display: grid;
    place-items: center;
}

.logo__text {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #000;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}

.logo__text__bottom {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: white;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}


.active-link {
    text-decoration: underline !important;
    color: #006e07 !important;
}


.search {
    position: relative;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    transition-duration: 500ms;
    cursor: pointer;
    background-color: transparent;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0;
    border: none;
    overflow: hidden;
    background-image: url(/assets/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 45% 50%;
}

.search:focus {
    width: 300px;
    height: 34px;
    cursor: text;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-size: 22px;
}

.nav__links-fff {
    padding: 0 20px;
    display: flex;
    font-family: Montserrat, Arial, sans-serif;
    list-style: none;
}

.nav__links-fff li {
    padding: 0 20px;
}

.nav__links-fff a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav__links-fff a:hover {
    text-decoration: underline;
}

.white-header {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.white-logo {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #fff;
    border-bottom-style: solid;
    border-bottom-color: #006e07;
    border-bottom-width: 1px;
}

.white-search:focus {
    width: 300px;
    height: 34px;
    cursor: text;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    background-image: none;
    background-size: 22px;
}

.white-title-header-up {
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 300;
    font-style: italic;
    line-height: 80px;
    color: #fff;
    font-size: 65px;
}

.white-title-header-down {
    margin-top: 6vh;
    margin-left: 14vw;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    font-size: 16px;
}

.filters{
    display: flex;
    justify-content: center;
}

.animal-title-inner{
    flex: 1;
}
.animal-title{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.noBreeds{
    height: 31vh;
    display: flex;
    align-content: center;
    justify-content: center;

}
.h1-not-found{
    margin: auto;
}
.other{
    margin-top: 2vh;
    margin-bottom: 5vh;
    text-align: center;
    font-weight: normal;
    font-family: Montserrat;
    font-size: 18px;
    cursor: pointer;

}
.breedImage{
    height: 210px
}