<body>
    <div class="block__pagination">
        <div class="pagination">
            <ul #paginationItems>
                <li id="backword">
                    <a class="pagination__item--side" (click)="onBackward()" title="Назад"><img src="assets/icons/vector.svg"></a>
                </li>
                <li>
                    <a
                            class="pagination__item"
                            (click)="onClick(1)"
                            routerLinkActive="item-active"
                            title="Страница 1"
                    >{{1 + viewPage}}</a
                    >
                </li>
                <li>
                    <a class="pagination__item" (click)="onClick(2)" title="Страница 2">{{2 + viewPage}}</a>
                </li>
                <li>
                    <a class="pagination__item" (click)="onClick(3)" title="Страница 3">{{3 + viewPage}}</a>
                </li>
                <li>
                    <a class="pagination__item" (click)="onClick(4)" title="Страница 4">{{4 + viewPage}}</a>
                </li>
                <li>
                    <a class="pagination__item" (click)="onClick(5)" title="Страница 5">{{5 + viewPage}}</a>
                </li>
                <li>
                    <a class="pagination__item" (click)="onClick(6)" title="Страница 6" >{{6 + viewPage}}</a>
                </li>
                <li id="forward">
                    <a class="pagination__item--side" (click)="onForward()" title="Вперед"
                    ><img src="assets/icons/vector-forward.svg"></a
                    >
                </li>
            </ul>
        </div>
    </div>
</body>
