<div class="dropdown">
    <input [ngClass]="{search: !navBlack, search_black: navBlack}" placeholder="Поиск по сайту" [(ngModel)]="data" (input)="onSearch(data.toLowerCase())" (focusin)="enableDropdown()" (focusout)="disableDropdown($event)" #inputField/>
    <div class="dropdown-content" [ngClass]="{show: toggleDropdown}">
        <div class="search_bread_card" *ngFor="let breedCard of breedCards" [routerLink]="['animal-page', 'dogs', breedCard.id]">
            <img src="{{breedCard.thumbnail_url}}">
            <a>{{breedCard.breed}}</a>
        </div>
    </div>
</div>