<body>
<div class="animal__content__block">
  <!-- HEADER WITH NAVIGATION-->

  <header class="header">
    <div class="logo">
      <img src="assets/icons/logo.svg" alt="logo" />
      <span class="logo__text" routerLink="/main-page" routerLinkActive="white-header white-logo">Info-pet</span>
    </div>
    <nav>
      <ul class="nav__links">
        <li><a routerLink="/animal-page/cats/1" routerLinkActive="active-link">Кошки</a></li>
        <li><a routerLink="/animal-page/dogs/1" routerLinkActive="active-link">Собаки</a></li>
        <li><a routerLink="/animal-page/fish/1" routerLinkActive="active-link">Водный мир</a></li>
        <li><a routerLink="/animal-page/birds/1" routerLinkActive="active-link">Птицы</a></li>
        <li><a routerLink="/animal-page/rodents/1" routerLinkActive="active-link">Грызуны</a></li>
        <li><a routerLink="/animal-page/reptiles/1" routerLinkActive="active-link">Рептилии</a></li>
        <li><a routerLink="/animal-page/others/1" routerLinkActive="active-link">Другие питомцы</a></li>
      </ul>
    </nav>
    <input class="search" placeholder="Поиск по сайту" />
  </header>

  <!-- BLOCK WITH RELATIVE ADDRESS-->
  <div class="relative-address__block">
    <p class="relative-address">
      <span (click)="onMain()">Главная / </span>
      <span (click)="onAnimal()">Собаки / </span>
      <span class="relative-address--current">Бульдог</span>
    </p>
  </div>

  <!-- BLOCK WITH BREED NAME AND FILTERS-->
  <div class="animal-name-filters">
    <h1 class="animal__name">Бульдог</h1>
    <div class="animal-name--filters">
      <button class="animal-card__filters__btn">Умные</button>
      <button class="animal-card__filters__btn">Повадыри</button>
      <button class="animal-card__filters__btn">Бойцовские</button>
    </div>
  </div>

  <section class="animal-content">
    <img class="animal-breed__image" src="assets/img/pets/02.jpg" />

    <div class="animal-breed-text__block">
      <div class="navigation--breed">
        <h2 class="animal-breed--subtittle">Содержание:</h2>
        <ul class="animal-breed--navigation">
          <li (click)="onScroll($event)">Краткая информация</li>
          <li (click)="onScroll($event)">Характер</li>
          <li (click)="onScroll($event)">Воспитание</li>
          <li (click)="onScroll($event)">Питание</li>
          <li (click)="onScroll($event)">Уход</li>
          <li (click)="onScroll($event)">Фотографии</li>
        </ul>
      </div>
      <h2 class="animal-breed--subtittle">Краткая информация</h2>
      <table class="animal-breed__table--short-info">
        <tr>
          <td class="table--attribute">Название породы</td>
          <td class="table--value">Бульдог</td>
        </tr>
        <tr>
          <td class="table--attribute">Страна происхождения</td>
          <td class="table--value">Япония</td>
        </tr>
        <tr>
          <td class="table--attribute">Время появления породы</td>
          <td class="table--value">1964 год</td>
        </tr>
        <tr>
          <td class="table--attribute">Тип породы</td>
          <td class="table--value">Собака-команьон</td>
        </tr>
        <tr>
          <td class="table--attribute">Вес взрослой собаки</td>
          <td class="table--value">32-45 кг (самки), 40-45 кг (самцы)</td>
        </tr>
        <tr>
          <td class="table--attribute">Рост</td>
          <td class="table--value">58-64 см (самки), 64-70 см (самцы)</td>
        </tr>
        <tr>
          <td class="table--attribute">Сколько живут</td>
          <td class="table--value">10-12 лет</td>
        </tr>
      </table>
      <h2 class="animal-breed--subtittle">Характер</h2>
      <p class="animal-breed--about">
        Австралийская борзая (кенгуровая) собака представляет собой крупную
        борзую, телосложение мускулистое, ростом выше английских борзых.
        Формат прямоугольный, собака длинная и сильная.Голова широкая, морда
        сужается вниз. Мощная грудная клетка, глубокая и с округлыми
        ребрами. Шея должна быть достаточно длинная, чтобы подобрать
        кролика, а также сильная, чтобы держать большую дичь. Плечи сильно
        отведены назад. Конечности стройные, крепкие и прямые. Тонкий,
        длинный и очень гибкий хвост. Движения легкие, активные, с длинным
        большим шагом.Глаза темные, форма миндалевидная, зрение
        превосходное. Австралийская борзая отлично видит добычу на дальнем
        расстоянии. Челюсти сильные, клыки острые, прикус может быть ровным
        или ножницеобразным.Шерсть австралийских борзых может быть трех
        видов – первый напоминает шерсть классических дирхаундов, то есть
        короткий, жесткий, второй вид, гладкая грубоватая шерсть как у
        грейхаундов и третий вид – это смесь из двух первых: короткая,
        гладкая, жесткая
      </p>
      <h2 class="animal-breed--subtittle">Воспитание</h2>
      <p class="animal-breed--about">
        Австралийская борзая (кенгуровая) собака представляет собой крупную
        борзую, телосложение мускулистое, ростом выше английских борзых.
        Формат прямоугольный, собака длинная и сильная.Голова широкая, морда
        сужается вниз. Мощная грудная клетка, глубокая и с округлыми
        ребрами. Шея должна быть достаточно длинная, чтобы подобрать
        кролика, а также сильная, чтобы держать большую дичь. Плечи сильно
        отведены назад. Конечности стройные, крепкие и прямые. Тонкий,
        длинный и очень гибкий хвост. Движения легкие, активные, с длинным
        большим шагом.Глаза темные, форма миндалевидная, зрение
        превосходное. Австралийская борзая отлично видит добычу на дальнем
        расстоянии. Челюсти сильные, клыки острые, прикус может быть ровным
        или ножницеобразным.Шерсть австралийских борзых может быть трех
        видов – первый напоминает шерсть классических дирхаундов, то есть
        короткий, жесткий, второй вид, гладкая грубоватая шерсть как у
        грейхаундов и третий вид – это смесь из двух первых: короткая,
        гладкая, жесткая
      </p>
      <h2 class="animal-breed--subtittle">Питание</h2>
      <p class="animal-breed--about">
        Австралийская борзая (кенгуровая) собака представляет собой крупную
        борзую, телосложение мускулистое, ростом выше английских борзых.
        Формат прямоугольный, собака длинная и сильная.Голова широкая, морда
        сужается вниз. Мощная грудная клетка, глубокая и с округлыми
        ребрами. Шея должна быть достаточно длинная, чтобы подобрать
        кролика, а также сильная, чтобы держать большую дичь. Плечи сильно
        отведены назад. Конечности стройные, крепкие и прямые. Тонкий,
        длинный и очень гибкий хвост. Движения легкие, активные, с длинным
        большим шагом.Глаза темные, форма миндалевидная, зрение
        превосходное. Австралийская борзая отлично видит добычу на дальнем
        расстоянии. Челюсти сильные, клыки острые, прикус может быть ровным
        или ножницеобразным.Шерсть австралийских борзых может быть трех
        видов – первый напоминает шерсть классических дирхаундов, то есть
        короткий, жесткий, второй вид, гладкая грубоватая шерсть как у
        грейхаундов и третий вид – это смесь из двух первых: короткая,
        гладкая, жесткая
      </p>
      <h2 class="animal-breed--subtittle">Уход</h2>
      <p class="animal-breed--about">
        Австралийская борзая (кенгуровая) собака представляет собой крупную
        борзую, телосложение мускулистое, ростом выше английских борзых.
        Формат прямоугольный, собака длинная и сильная.Голова широкая, морда
        сужается вниз. Мощная грудная клетка, глубокая и с округлыми
        ребрами. Шея должна быть достаточно длинная, чтобы подобрать
        кролика, а также сильная, чтобы держать большую дичь. Плечи сильно
        отведены назад. Конечности стройные, крепкие и прямые. Тонкий,
        длинный и очень гибкий хвост. Движения легкие, активные, с длинным
        большим шагом.Глаза темные, форма миндалевидная, зрение
        превосходное. Австралийская борзая отлично видит добычу на дальнем
        расстоянии. Челюсти сильные, клыки острые, прикус может быть ровным
        или ножницеобразным.Шерсть австралийских борзых может быть трех
        видов – первый напоминает шерсть классических дирхаундов, то есть
        короткий, жесткий, второй вид, гладкая грубоватая шерсть как у
        грейхаундов и третий вид – это смесь из двух первых: короткая,
        гладкая, жесткая
      </p>
      <h2 class="animal-breed--subtittle">Фотографии</h2>
    </div>
  </section>
</div>
  <div class="animal-breed--photo-gallery">
    <div class="vertical-grid">
      <div class="scale">
        <img class="photo-gallery--element" src="assets/img/pets/mp-1.jpg" />
      </div>
    </div>
    <div class="horisontal-grid">
      <div class="scale">
        <img class="photo-gallery--element" src="assets/img/pets/mp-2.jpg" />
      </div>
      <div class="scale">
        <img class="photo-gallery--element" src="assets/img/pets/mp-3.jpg" />
      </div>
      <div class="scale">
        <img class="photo-gallery--element" src="assets/img/pets/mp-5.jpg" />
      </div>
      <div class="scale">
        <img class="photo-gallery--element" src="assets/img/pets/mp-4.jpg" />
      </div>
    </div>
  </div>
<div class="animal__content__block">

  <h2 class="animal-breed--subtittle subtittle--margin">
    ВАМ ТАКЖЕ МОЖЕТ БЫТЬ ИНТЕРЕСНО:
  </h2>

  <div class="animal-breed__grid--recomendation">
    <div class="animal-card__block scale">
      <div class="animal-card__block--image scale">
        <img class="animal-card--image" src="assets/img/pets/01.jpg" />
      </div>
      <div class="animal-card__block--about">
        <div class="animal-card__block--name">Акина-ту</div>
        <div class="animal-card__block--info">
          Краткое описание питомцаКраткое описание питомцаКраткое описание
          питомца
        </div>

      </div>
    </div>

    <div class="animal-card__block">
      <div class="animal-card__block--image scale">
        <img class="animal-card--image scale" src="assets/img/pets/02.jpg" />
      </div>
      <div class="animal-card__block--about">
        <div class="animal-card__block--name">Акина-ту</div>
        <div class="animal-card__block--info">
          Краткое описание питомцаКраткое описание питомцаКраткое описание
          питомца
        </div>

      </div>
    </div>

    <div class="animal-card__block">
      <div class="animal-card__block--image scale">
        <img class="animal-card--image scale" src="assets/img/pets/03.jpg" />
      </div>
      <div class="animal-card__block--about">
        <div class="animal-card__block--name">Акина-ту</div>
        <div class="animal-card__block--info">
          Краткое описание питомцаКраткое описание питомцаКраткое описание
          питомца
        </div>

      </div>
    </div>
  </div>
</div>

<!-- SECTION FOOTER -->
<footer class="footer">
  <div class="footer__up">
    <div class="logo">
      <img src="assets/icons/logo.svg" alt="logo" />
      <span class="logo__text__bottom">Info-pet</span>
    </div>
    <nav>
      <ul class="nav__links-fff">
        <li><a routerLink="/animal-page/cats/1" routerLinkActive="active-link-bottom">Кошки</a></li>
        <li><a routerLink="/animal-page/dogs/1" routerLinkActive="active-link-bottom">Собаки</a></li>
        <li><a routerLink="/animal-page/fish/1" routerLinkActive="active-link-bottom">Водный мир</a></li>
        <li><a routerLink="/animal-page/birds/1" routerLinkActive="active-link-bottom">Птицы</a></li>
        <li><a routerLink="/animal-page/rodents/1" routerLinkActive="active-link-bottom">Грызуны</a></li>
        <li><a routerLink="/animal-page/reptiles/1" routerLinkActive="active-link-bottom">Рептилии</a></li>
        <li><a routerLink="/animal-page/others/1" routerLinkActive="active-link-bottom">Другие питомцы</a></li>
      </ul>
    </nav>
    <button class="up"></button>
  </div>

  <div class="footer__down">
    <ul class="footer__nav__links">
      <li>2022-2023</li>
      <li>
        <a href="#">
          ссылка на бесплатные источники иллюстраций, логотипа, картинок
        </a>
      </li>
      <li><a href="#">Политика сайта</a></li>
      <li><a href="#">Реклама на сайте</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Правовая информация</a></li>
    </ul>
  </div>
</footer>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="up"></i>
  </a>
</div>
</body>

